.storage/
node-red/
www/cam_captures/blink/
www/cam_captures/
tts/
.cloud/acme_account.pem
.cloud/acme_reg.json
.cloud/production_auth.json
.cloud/remote_fullchain.pem
.cloud/remote_private.pem
www/community/
custom_components/
image/
www/doorbell/
www/icons/
zigbee.db
zigbee.db-shm
zigbee.db-wal
home-assistant.log
home-assistant.log.1
home-assistant.log.fault
secrets.yaml
.google.token
homematicip_local/cache/
